<h3>New Order Placed</h3>
<div>
  <%= link_to "Home", '/categories/' %>
</div>
<br>
<div>
  <%# <%= link_to "Back to orders", orders_path %>  
  <h4>Order Summary</h4>

   <h5>User Name</h5>
    <%= @un %>
    <h5>Grand Total</h5>
    <%= @ogt %>
</div>
<br>
<hr>