<div>
  <%= link_to "Home", brands_path %>
   <%= link_to "Logout", "/" %>
</div>
<h1>New product</h1>
<%= render "form", product: @product %>
<br>
<div>
  <%= link_to "Back to Brands", brands_path %>
</div>
